@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    box-shadow: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}
body{
    background-color: #EBF4F6;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color:#071952;
    padding: 12px 30px;
    position: sticky;
    top:0%;
}
.logo{
    display: flex;
    align-items: center;
    gap:20px;
    padding-left: 5%;
}
.logo h1{
    font-size: 2rem;
    color: #FF9900;
}
.logo img{
    width:80px;
    height:60px;
}
ul{
    display: flex;
    gap:60px;
    justify-content: space-between;
    padding-right: 10%;
    align-items: center;
    padding-top: 30px;
}
ul li{
    list-style: none;
    align-self: center;
    color: white;
}
ul li a{
    text-decoration: none;
    color:white;
}
ul li  .spa{
   position: absolute;
   right:11%;
   top:15%;
   padding:2px 6px;
   background-color: red;
   border-radius: 50%;
}
.fa-solid{
    font-size: 1.2rem;
}
.menu-bars{
    display: none;
}
@media (max-width:920px) {
    nav ul{
        position: absolute;
        top:80px;
        left:0px;
        right: 0px;
        gap:40px;
        flex-direction: column;
        text-align: center;
        background-color:#071952;
        overflow: hidden;
        z-index: 10;
    }
    #menu-list{
        transition: all 0.5s;
    }
    nav ul li{
        padding-bottom: 20px;
    }
    ul li .spa{
        display: block;
        right:50%;
        top:87%;
        padding:2px 4px;
    }
    .menu-bars{
        display: block;
        font-size: 2.4rem;
        padding-right: 20px;
        color: white;
    }
    .menu-bars .fa-solid{
        font-size: 2rem;
        padding-top: 10px;
    }
    .logo{
        padding-top: 10px;
    }
    .logo h1{
        font-size: 2rem;
        color:#FF9900;
    }
    .logo img{
        width: 40px;
    }
    ul li .spa{
        display: none;
    }
}

/* BOdy Page Starts here */
.travis-head{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:20px;
    /* padding:15px; */
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    width:50vw;
    margin-left: 20% !important;
    padding-left: 3%;
    margin-top: 5%;
    background-color: #d4ecee;
}
.recom{
    font-size: 1.3rem;
}
.travis-head h1{
    font-size: 1.5rem;
    color: red;
}
#restaurant-details{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h2{
    padding-left: 20%;
}
#top-picks{
    display: flex;
    flex-direction: column;
    border: 2px solid black;

}
.image{
    width: 30%;
    height: 30%;
}
#recommended{
    /* margin-top: 5%; */
    /* border:2px solid grey; */
    margin-left: 20%;
    margin-right:25%;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap:5px;
    
    /* border-radius: 20%; */
}
.menu-item{
    border: 0.5px solid black;
    border-radius: 20px;
    background-color: #d4ecee;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.menu-item .lef{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:200px;
}
.menu-item .rig{
    align-content: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;

}
.menu-item .rig h3{
    color: red;
}
.menu-item .lef button{
    padding: 3%;
    cursor: pointer;
}
.menu-item .lef button:hover{
    background-color: red;
}
.menu-item .lef img{
    height:200px;
}
.menu-item .lef .cart-add{
    display: none;
    font-weight: 1.5rem;
}
.feedback-message {
    color: green;
    font-size: 14px;
    margin-bottom: 5px;
    animation: fadeIn 0.5s ease;
}

/*  Modal functionality */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay effect */
  }
  
  .modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 40%;
    background: white;
    border-radius: 5px;
    text-align: center;
  }
  #modalDetails{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .confirm-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .viewBag{
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width:900px){
    .menu-item{
        flex-direction: column;
        gap:20px;
        margin-left: 0%;
        margin-right: 0%;
        padding-bottom: 10%;
    }
    #recommended{
        margin-left: 10%;
        margin-right: 10%;
    }
    h2{
        padding-left: 10%;
    }
    .travis-head{
        margin-left: 10% !important ;
        margin-top: 10%;
        width:70vw;
    }
    .menu-item p{
        font-size:1rem;
    }
    .menu-item h3{
        font-size:1.2rem;
    }
    #restaurant-name{
        font-size: 1.4rem;
    }
    #restaurant-details p{
        font-size: 1rem;
    }



}

